@*
   Author : Alejandro Font
   Purpose : For ProductTypes Details page to show each product belonging to ProductType
   Method : After altering the ProductType/Details Controller to receive Product, I inserted a foreach loop to show each product.
                The loop will show the title of the product, in addition to the Quantity and Price. 

*@


@model Bangazon.Models.ProductType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Label</h4>
    <hr />
    <dl class="dl-horizontal">
           
     @foreach (Product p in Model.Products)
     { 
        <dt>
            @p.Title
        </dt>
        <dd>
            
     
            <p>Quantity: @p.Quantity</p>
                   
            <p>Price: $@p.Price</p>

        
        </dd>
            }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
